In [1]:
## Data Analysis Phase
## MAin aim is to understand more about the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
## Display all the columns of the dataframe
import pyodbc
pd.pandas.set_option('display.max_columns',None)

In [2]:
df=pd.read_excel("E:/Project/Resolvent Projects/C.G.Election Analysis/Analysis/Stage5.xlsx")

In [20]:
df.head()

,Sno,LS,VS,District,PinCode,VillageCity,Anubhag,Name,Address,Age,Gender,Relative_Name,Relation,Surname,Relative_Surname,Word_Count,NumDigits,Caste,Category,Religion
0,1.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Anil Sharma,42,54.0,Male,NaN,NaN,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
1,2.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sudha Sharma,42 s,54.0,Male,Prithvi Pal Sharma,Father,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
2,3.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,NaN,42 s,43.0,Male,Anil Sharma,Husband,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
3,4.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Abhishek Sharma,42 s,34.0,Male,Anil,Father,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
4,5.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sachin Kamade,43 s,43.0,Male,Vilasrao Kamade,Father,Kamade,Kamade,1.0,2.0,Marathi,Other Caste,Hindu

In [21]:
# Convert numeric columns to strings
df['LS'] = df['LS'].astype(str)
df['VS'] = df['VS'].astype(str)
df['District'] = df['District'].astype(str)
df['PinCode'] = df['PinCode'].astype(str)
df['VillageCity'] = df['VillageCity'].astype(str)
df['Anubhag'] = df['Anubhag'].astype(str)

# Concatenate multiple columns into 'Address' column
df['Address'] = (
    df['LS'] + ', ' +
    df['VS'] + ', ' +
    df['District'] + ', ' +
    df['PinCode'] + ', ' +
    df['VillageCity'] + ', ' +
    df['Anubhag'] + ', ' +
    df['Address']
)

In [22]:
df.head()

,Sno,LS,VS,District,PinCode,VillageCity,Anubhag,Name,Address,Age,Gender,Relative_Name,Relation,Surname,Relative_Surname,Word_Count,NumDigits,Caste,Category,Religion
0,1.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Anil Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54.0,Male,NaN,NaN,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
1,2.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sudha Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54.0,Male,Prithvi Pal Sharma,Father,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
2,3.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,NaN,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43.0,Male,Anil Sharma,Husband,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
3,4.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Abhishek Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",34.0,Male,Anil,Father,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
4,5.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sachin Kamade,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43.0,Male,Vilasrao Kamade,Father,Kamade,Kamade,1.0,2.0,Marathi,Other Caste,Hindu

In [ ]:
import re

# Define a function to clean text data
def clean_text(text):
    if isinstance(text, str):
        # Remove special characters, 1 or 2 letter words, and leading/trailing whitespaces
        cleaned_text = re.sub(r'[^a-zA-Z ]|(\b\w{1,2}\b)', '', text).strip()
        return cleaned_text
    else:
        return text

# Apply the clean_text function to specified columns
columns_to_clean = ['Age']
for col in columns_to_clean:
    df[col] = df[col].apply(clean_text)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164435 entries, 0 to 164434
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sno               164432 non-null  float64
 1   LS                164435 non-null  object
 2   VS                164435 non-null  object
 3   District          164435 non-null  object
 4   PinCode           164435 non-null  object
 5   VillageCity       164435 non-null  object
 6   Anubhag           164435 non-null  object
 7   Name              162284 non-null  object
 8   Address           164435 non-null  object
 9   Age               164432 non-null  float64
 10  Gender            164432 non-null  object
 11  Relative_Name     154778 non-null  object
 12  Relation          154778 non-null  object
 13  Surname           149427 non-null  object
 14  Relative_Surname  132964 non-null  object
 15  Word_Count        164432 non-null  float64
 16  NumDigits         164432 non-null  float64
 17  Caste             118274 non-null  object
 18  Category          118274 non-null  object
 19  Religion          118274 non-null  object
dtypes: float64(4), object(16)
memory usage: 25.1+ MB

In [25]:
df['Age'].fillna(0, inplace=True)  # Fill NaN values with 0 or any other default value
df['Age'] = df['Age'].astype(int)

In [26]:
df.head()

,Sno,LS,VS,District,PinCode,VillageCity,Anubhag,Name,Address,Age,Gender,Relative_Name,Relation,Surname,Relative_Surname,Word_Count,NumDigits,Caste,Category,Religion
0,1.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Anil Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54,Male,NaN,NaN,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
1,2.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sudha Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54,Male,Prithvi Pal Sharma,Father,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
2,3.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,NaN,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43,Male,Anil Sharma,Husband,Sharma,Sharma,1.0,2.0,Brhamin,Brhamin (UR),Hindu
3,4.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Abhishek Sharma,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",34,Male,Anil,Father,Sharma,NaN,1.0,2.0,Brhamin,Brhamin (UR),Hindu
4,5.0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,Sachin Kamade,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43,Male,Vilasrao Kamade,Father,Kamade,Kamade,1.0,2.0,Marathi,Other Caste,Hindu

In [27]:
df.drop(columns=['Name','Sno','Relative_Name','Word_Count','NumDigits'], inplace=True)

In [28]:
df.head()

,LS,VS,District,PinCode,VillageCity,Anubhag,Address,Age,Gender,Relation,Surname,Relative_Surname,Caste,Category,Religion
0,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54,Male,NaN,Sharma,NaN,Brhamin,Brhamin (UR),Hindu
1,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",54,Male,Father,Sharma,Sharma,Brhamin,Brhamin (UR),Hindu
2,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43,Male,Husband,Sharma,Sharma,Brhamin,Brhamin (UR),Hindu
3,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",34,Male,Father,Sharma,NaN,Brhamin,Brhamin (UR),Hindu
4,Durg,Bhilai,Durg,490009.0,Bhilai,2-Amdi Nagar Hudaco LIG 21 to LIG 60,"Durg, Bhilai, Durg, 490009.0, Bhilai, 2-Amdi N...",43,Male,Father,Kamade,Kamade,Marathi,Other Caste,Hindu

In [29]:
# Specify the Excel file path
excel_file_path = 'E:/Project/Resolvent Projects/C.G.Election Analysis/Analysis/Final Data for Report.xlsx'

# Save the DataFrame to Excel
df.to_excel(excel_file_path, index=False)

print(f"DataFrame saved to {excel_file_path}")

DataFrame saved to E:/Project/Resolvent Projects/C.G.Election Analysis/Analysis/Final Data for Report.xlsx